<div class="card">
    
    <div class="d-flex justify-content-center " style="width: 100%;">

        <div class="" style="width: 200px; height: 200px;">
            <img class="" 
                style="width: 100%; 
                /* max-width: 100%;  */
                /* object-fit: scale-down; */
                object-fit: cover;
                height: 100%;
                " 
                [src]="ObjetoBasura.imageUrl" alt="imagen">
        </div>
    </div>
    <div class="pb-2 px-2">

    <div class="text-end p-0 pt-3 m-0">
        @switch (ObjetoBasura.category) {
            @case ('6822d4b989a21baf525ecf13') {
                
                <p class="text-success p-0  m-0">Organico</p>
            }
            @case ('6822d4c289a21baf525ecf15') {
                
                <p class="text-primary p-0  m-0">Reciclable</p>
            }
            @case ('6822d4c689a21baf525ecf17') {
                
                <p class="text-danger p-0  m-0">No reciclable</p>
            }
            @default { 
                Desconocido 
            } 
        }
    </div>
    <div class="text-center">
        
        <h2 class="fs-5  texto-incompleto">{{ObjetoBasura.itemName}}</h2>
    
    </div>
    <div class="d-flex gap-2">

        <button
            class="btn btn-outline-primary" 
                style="width: 50%"
                type="button"
                [routerLink]="['/admin/editar',ObjetoBasura._id]" 
        >
        <span><i class="bi bi-pencil-square"></i></span>
        Editar</button>

        <button 
            class="btn btn-outline-danger" 
            style="width: 50%;"
            type="button"
            (click)="confirmarEliminar()"
        >
        <span><i class="bi bi-trash3-fill"></i></span>
        Eliminar</button>

    </div>
</div>


    
    
</div>