<div class="fondo">
    <div class="container-fluid bg-primary py-2">
        <div class="container d-flex justify-content-around align-items-center">
            <a class=" d-inline text-center text-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" 
                href="/inicio">
                <i class="bi bi-house-door-fill"></i>
                Inicio</a>
            <h2 class="d-inline text-white text-center">¡Aprende observando y luego actuando!</h2>

        </div>
    </div>
    <section class="text-center">
        <img class="img-fluid" src="assets/reciclajeFondo.jpg" alt="fondo reciclaje">
    </section>
    <section class="mt-5 text-center bg-success text-white" style="padding: 100px 0 100px 0;">
        <h3>Disfruta Nuestros Videos</h3>
        <p>Explora una selección de videos que te ayudarán en tu camino para convertirte en un experto en la clasificación de residuos.</p>
    </section>
    <div class="container p-2">
    
        <section class="row g-4 d-flex justify-content-center p-5">
         
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/YgES1DyjeGs" title="¡Niños aprenden a reciclar: Plástico, Vidrio, Papel y ¡Más! - Kids Academy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/WVrxkF6TcQU" title="¿Cómo reciclar? Aprende con Nacho las 3 R del reciclaje | Videos para niños" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/cvakvfXj0KE" title="Reducir, Reutilizar y Reciclar. Para mejorar el mundo | Videos Educativos para Niños" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/2ACfY-1lJAk" title="Aprende a Reciclar con Eddie ♻👀🌍 Eddie cuida el planeta con un divertido juego" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/haR08SGmwfs" title="Plaza Sésamo: Elmo aprende sobre el reciclaje | El mundo de Elmo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/0cEv6-lv3lU" title="Plim Plim y Su Equipo de Reciclaje ♻️ Canciones Infantiles ♻️ Plim Plim" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe  src="https://www.youtube.com/embed/DweX0pLybpQ" title="Residuos y reciclaje - Explicado para niños: Planeta Darwin" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe src="https://www.youtube.com/embed/-UFFFUTMlCw" title="¿Por qué el Reciclaje es tan Importante? | Videos Educativos Aula365" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-auto">
                <iframe src="https://www.youtube.com/embed/yM0SeWPybu8" title="Consumo responsable para niños - Las tres erres: Reducir, Reutilizar y Reciclar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
        </section>
    </div>

    <div class="container-fluid text-center bg-primary py-3">
        <!-- <p><a href="/inicio" class="text-white">Regresar al inicio</a></p> -->
        <a class="text-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
            Regresar al inicio
        </a>
    </div>
</div>