.nav-link{
    color: #000;
    /* font-size: 20px; */
}
.nav-link:hover{
    background-color: #08a3f0;
    text-decoration: none;
    color: #fff;
}

@media(max-width: 700px){
    .ocultar{
        display: none;
    }
    /* .mostrar{
        display: initial;
    } */


}

.mostrar{
    display: none;
}
@media(max-width: 700px){
    /* .ocultar{
        display: none;
    } */
    .mostrar{
        display: initial;
    }


}
