.fondo-morado{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.example-list {
  /* width: 1000px; */
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  height: 30vh;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.351);
  border-radius: 4px;
  overflow: hidden;
  justify-content: space-between;
    position: relative;
  
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /* background: white; */
  /* background: rgb(166, 116, 116); */
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  
  
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


/*Estilos propios*/
.tarjeta {
  width: 32%;
  /* max-width: 100%; */
  /* min-width: 100%; */
  border: solid 1px #ccc;
  min-height: 60px;
  height: 30vh;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.351);
  border-radius: 4px;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}
.caja{
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}
.img{
  /* width: 100px; */
  /* width: 100%; */
  width: 100%;
  height: auto;
  object-fit: cover;
  position: center;

}
.entered{
  cursor: pointer;
}
.entered:hover{
  /* border: solid #fcf8058c; */
  /* box-shadow: 0px 10px 23px 1px rgba(237,240,0,0.65); */
  box-shadow: 0px 10px 23px 1px rgba(255,255,255,0.65);
}

.my-placeholder {
  color: #000000;
  font-weight: bold;
  pointer-events: none;
  position: absolute;
  top: 16px;
  right: 16px;
  /* left: 16px; */
  font-size: 16px;
  user-select: none;
}