<div class="fondo-morado">  
  <app-header [punteo]="totalPunteo"/>
  <!-- <p class="text-white">lista {{listaBasusa.length}}</p> -->

  <div class="py-5" cdkDropListGroup>
  
    <!-- <div class="container text-white">
      <div class="">

        <p>punteo: {{totalPunteo}}</p>
      </div>
    </div> -->

    <!-- aca comientza iteracion  -->
    <div class="container categorias">
      <div class="row ">
        @for (categoria of listaCategories; track categoria) {
        <div class="col">
          <!-- <h2>{{categoria.categoryName}}</h2> -->
          <div
            id={{categoria._id}}
            cdkDropList
            [cdkDropListData]="categoria.items"
            class="example-list entered"
            (cdkDropListDropped)="drop($event,categoria.categoryName)"
            >
            
            <div class="my-placeholder">
              {{categoria.categoryName}}
            </div>
            <!-- Categoria: {{categoria.categoryName}}<br>
            Id: {{categoria._id}} -->
            <!-- ------------------------------ -->
            <!-- @for (item of categoria.items; track item) {
              {{item}}
            } -->
          </div>
        </div>
        }

      </div>

    </div>

    <!-- Tarjetas de objetos -->
    <div class="container 
      d-flex justify-content-center mt-5">
      <div
        id="even"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="listaBasusa"
        class="tarjeta"
        >
        @for (basura of listaBasusa; track basura) {
          
          @if ($index<1) {

            <div
              class="caja"
              cdkDrag
              [cdkDragData]="basura"
              >
              <div class="d-flex flex-column">

                <p class="text-center text-white p-2" 
                  style="background-color: #552277;">{{basura.itemName}}</p> 
                <div class="d-flex justify-content-center align-items-center">
                  <img  class="img" [src]="basura.imageUrl" alt="imagen">
                  <!-- <img class="img" src="assets/lapiz.gif" alt="{{basura.itemName}}"> -->
                  <!-- <img class="img" [src]="objeto.imagen" alt="{{objeto.nombre}}"> -->
                </div>
                
              </div>
            </div>
          }  
        }
      </div>

    </div>
    <!-- 
    para la dificultad, podemos hacer que en la pantalla de usuario, se elija la dificultad
    e incluir cuentas regresivas y longitud de la lista de opciones.
    2. incluir objetos flotantes incluyendo el punteo obtenido por respuesta
    3. incluir un apartado de videos educativos para que puedan verlos 
    -->
    
    @if (listaBasusa.length>8) {
      <div class="container d-flex justify-content-end text-white">
        {{listaBasusa.length}}
      </div>
      
    }@else {
      <div class="container d-flex justify-content-end">
          <button type="button" (click)="finalizar()" class="btn btn-primary">Continur</button>
      </div>
    }
  </div>
  

  
  


</div>