<div cdkDropListGroup>
  <div class="container categorias">
    <div class="row">

      <div class="col">
        <h2>organicos</h2>
      
        <div 
          id="organico"
          cdkDropList
          [cdkDropListData]="organicos"
          class="example-list entered"
          (cdkDropListDropped)="drop($event)"
          >
          organicos
        </div>
      </div>
      <div class="col">
        <h2>Inorganicos</h2>
      
        <div
          id="inorganico"
          cdkDropList
          [cdkDropListData]="inorganicos"
          class="example-list entered"
          (cdkDropListDropped)="drop($event)"
          >
         
        </div>
      </div>
      <div class="col">
        <h2>No reciclables</h2>
      
        <div
          id="no_reciclable"
          cdkDropList
          [cdkDropListData]="no_reciclables"
          class="example-list entered"
          (cdkDropListDropped)="drop($event)"
          >
         
        </div>
      </div>

    </div>

  </div>
  

  <div class="container border mt-5">
    <h2>Objetos</h2>
  
    <div
      id="even"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="objetos"
      class="example-list"
      >
      @for (objeto of objetos; track objetos) {
        
        <!-- <p>{{cantidadObjetos}}</p> -->
        <!-- <p>{{$index}}</p> -->
        @if ($index<3) {

          <div
            class="example-box border border-primary d-flex justify-content-center"
            cdkDrag
            [cdkDragData]="objetos"
            >
            <div class="d-flex flex-column">
              {{objeto.nombre}}
              <img class="img" [src]="objeto.imagen" alt="{{objeto.nombre}}">
              
  
            </div>
            
          </div>

        }

        
      }
    </div>
  </div>
  
</div>



