<!-- As a heading -->
<nav class="navbar barra-navegacion">
  <div class="container">
    <!-- <span class="navbar-brand mb-0 h1">Navbar</span> -->
    <div class="d-flex gap-3 align-items-center">
      <img class="img" src="assets/user-dog.png" alt="user dog">
      @if (nombreUsuario!) {
        <p class="text-black m-0">{{nombreUsuario}}</p>
      }@else {
        <p class="text-black m-0">Soy Leyenda</p>
      }
      @if (punteo>0) {
        <p class="text-success fs-3 m-0 p-0"><i class="bi bi-trophy-fill text-warning fs-1"></i> {{punteo}} <span class="fs-5">pts</span></p>
      }@else {
        <p class="text-danger fs-3 m-0 p-0"><i class="bi bi-trophy-fill text-warning fs-1"></i> {{punteo}} <span class="fs-5">pts</span></p>
      }
    </div>
    <!-- <button type="button" (click)="pauseSong()" class="btn btn-primary">Detener</button> -->
    <!-- <button type="button" (click)="playSong()" class="btn btn-primary">Play</button> -->
    <div class="volumen d-flex align-items-center gap-2">
      @if (this.sonidoOn) {
        
        <i class="bi bi-volume-up-fill fs-2" (click)="volumenOn(false)"
        style="cursor: pointer; color: #552277;"></i>

      }@else {
        
        <i class="bi bi-volume-mute fs-2" style="cursor: pointer; color: #552277" (click)="volumenOn(true)"></i>
      }
      <input type="range" min="0" max="1" step="0.01" value="0.05" (input)="volumen($event)">

      <button type="button" [routerLink]="['/inicio']" class="btn btn-primary">Finalizar</button>
    </div>

  </div>
</nav>