<div class="fondo-campeon">
    <div class="centrar">
        <div class="container text-center">
            @if (totalPunteo>50) {
                <p class="fs-1">Al infinito y más allá!!!</p>
            }@else {
                <p class="fs-2">¡Bien hecho {{nombreUsuario}}! Sé que puedes hacerlo mejor!</p>
            }
        </div>
        <div class="logo">
            <img class="img" src="assets/user-dog.png" alt="logo">
        </div>
        <!-- <div class="nombre">
            <p class="">{{nombreUsuario}}</p>
        </div> -->
        <div class="contenedor-punteo">
            <p class="fs-1"> {{totalPunteo}} pts</p>
        </div>

        <button type="button" [routerLink]="['/inicio']" class="btn btn-primary">Finalizar</button>


    </div>
    
</div>